html, body {
  overflow-x: hidden;
}

/* 
  =====================================================
  Custom Styles
  =====================================================
*/

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
}

/* 
  =====================================================
  Buttons
  =====================================================
*/

.button {
  font-weight: 500;
  padding: 15px 30px;
  background: #CB0000;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

/* 
  =====================================================
  Header
  =====================================================
*/

header .nav {
  padding: 1em 0;
  color: #FFFFFF;
}

header .site-logo img {
  max-height: 75px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  float: left;
}

header .nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
}

header .nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 20px 20px 25px;
}

header .nav ul li a {
  color: #6C7A88;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

header .nav ul li a:hover {
  color: #6BC2A4;
}

header .nav ul li.hamburger-icon {
  display: none;
}

/* 
  =====================================================
  Hero
  =====================================================
*/

.hero {
  background-image: linear-gradient(0deg, #FFFFFF 0%, #56E2F4 48%, #56E2F4 100%);
  margin-top: 70px;
  height: 600px;
}

.hero .herotext {
  text-align: right;
  width: 590px;
  float: right;
  margin-top: -40px;
  margin-right: 20px;
}

.hero .herotext h1 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #515C67;
  font-size: 34px;
  font-weight: bold;
}

.hero .herotext h2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #515C67;
  font-size: 30;
  font-weight: 100;
}

.hero img {
  margin-left: -350px;
}

.hero #aboutpic {
  margin-left: -500px;
}

/* 
  =====================================================
  Case Studies
  =====================================================
*/

.case-studies {
  padding: 1em 0;

}

.case-studies h3 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #6C7A88;
  font-weight: bold;
  margin-left: 75px;
}

.case-studies ul {
  display: flex;           
  flex-direction: row; 
  flex-wrap: wrap;    
  justify-content: center;
  align-items: center; 
  margin: 0;
}

.case-studies ul li {
  display: inline-block;
  list-style-type: none;
  margin: 7px 10px;
}

/* 
  =====================================================
  About
  =====================================================
*/

.about {
  width: 90%;
  text-align: left;
  margin: -150px auto;
}

.aboutheading {
  padding-bottom: 3px;
  border-bottom: 2px solid #6C7A88;
}

.about .aboutheading h1 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: #282F36;
  font-weight: 500;
}

.about p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #282F36;
  line-height: 40px;
  font-weight: 100;
}

.about img {
  height: 462px;
  display: block;
  margin: -40px auto;

}

/* 
  =====================================================
  Contact (own page)
  =====================================================
*/

.contactmessage {
  margin: -200px auto -100px;
  display: flex;              /* establish flex container */
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center;
}

.contactmessage h1 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 26px;
  color: #282F36;
  font-weight: 500;
  margin: 10px;
}

.contactmessage iframe {
  display: block;
  margin: auto;
}

/* 
  =====================================================
  Contact (on page)
  =====================================================
*/

.contact {
  display: flex;              /* establish flex container */
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center; 
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #56E2F4 100%);
  height: 290px;
  margin-top: 35px;
}

.contact h3 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #6C7A88;
  font-weight: 500px;
  text-align: center;
}

.contact h4 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #6C7A88;
  font-weight: 100;
  text-align: center;
  margin-top: -5px;
}

/* 
  =====================================================
  Case Studies (own page)
  =====================================================
*/

.logo {
  position: absolute;
  top: 20%;
  right: 40%;
  z-index: 100;
  max-height: 190px;
}

.container {
  width: 90%;
  margin: -225px 5% -50px;

}

.one-half {
  width: 46%;
  margin: 15px;
  display: inline-block;
}

.container .jumpto h1 {
 font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: #282F36;
  text-align: center;
  font-weight: 500;
}

.container .jumpto a {
  text-decoration: none;
  color: #282F36;
}

.container .jumpto a:hover {
  color: #6BC2A4;
}

.container h2 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 22px;
  color: #282F37;
  padding-bottom: 3px;
  border-bottom: 2px solid #6C7A88;
}

.container p {
font-family: "Open Sans", Helvetica, Arial, sans-serif;
font-size: 20px;
color: #282F36;
line-height: 40px;
font-weight: 100;
margin-bottom: 40px;
margin-top: 20px;
}

.container p a {
  color: #282F36;
}

.container p a:hover {
  color: #6BC2A4;
}

.container h3 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #6C7A88;
  font-weight: 500;
  border-bottom: 2px solid #0FBCDE;
}

.container hr {
  border-color: #6BC2A4;
}

.container .graph {
  vertical-align: 150px; 
}

.container .va {
  vertical-align: 275px;
}

.container .multimages {
  display: flex;           
  flex-direction: row; 
  flex-wrap: wrap;    
  justify-content: center;
  align-items: center;
}

.container .multimages img {
  margin: 20px;
  margin-bottom: 40px;
}

.container h4 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 44px;
  color: #282F36;
  display: inline;
  padding-top: 10px;
  text-align: center;
  font-weight: 500;
}

.container h5 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #6C7A88;
  display: inline;
  font-weight: 500;
  margin-top: -30px;
}

.container .quote {
  text-align: center;
  vertical-align: top;
  margin-top: 300px;
}

.buttonwrap {
  text-align: center;
}

.container .small {
  width: 80%;
  display: inline-block;
}

.container .smallest {
  width: 30%;
}

.container .smaller {
  width: 46%;
}

/* 
  =====================================================
  Footer
  =====================================================
*/

footer {
  background-color: #6C7A88;
  height: 75px;
}

footer p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 22px;
  float: left;
  margin-top: 25px;
  color: #FFFFFF;
  margin-left: 20px;
}

footer ul {
  display: inline;
  text-align: right;
  margin: 0 20px;
  float: right;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
  margin: 15px 20px 0;
}

footer ul li img {
  height: 45px;
  display: flex; 
}


/* 
  =====================================================
  Media Queries
  =====================================================
*/

@media (max-width:1000px) {
  .case-studies ul {
  display: flex;           
  flex-direction: row; 
  flex-wrap: wrap;    
  justify-content: center;
  align-items: center; 
}

header .nav ul li a {
  font-size: 20px;
}

}

@media (max-width:917px) {

header .site-logo img {
  max-height: 60px;
  margin-top: 20px;
  margin-right: 0;
  margin-left: 5px;
}

header .nav ul li {
  margin: 25px 15px;
}

header .nav ul li a {
  font-size: 18px;
}

.one-half {
  width: 90%;
}

.container .quote {
  margin-top: 0;
}
}

@media (max-width:825px) {

   .hero #aboutpic {
  margin-left: -400px;
}

div.nav ul li{display: none;}

div.nav ul li.hamburger-icon {
    float: right;
    display: inline-block;
    margin-top: 10px;
  }

div.nav.responsive {position: relative;}
  div.nav.responsive ul li.hamburger-icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .hero .logo {
    height: 100px;
  }

  .hero .cornerlogo {
  height: 100px;
  top: 15%;
}

  div.nav.responsive ul {
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-right: 20px;
    width: 150px;
  }

  div.nav.responsive li {
    float: none;
    display: inline;
  }

  div.nav.responsive li a {
    display: block;
    text-align: left;
  }

  .hero img {
  height: 300px;
  } 

  .hero {
    height: 500px;
  }

  .container .va {
    vertical-align: top;
  }
}

@media (max-width:688px) {
  footer p {
    font-size: 16px;
  }

  footer ul li img {
  height: 30px;
}

.hero .logo {
  height: 100px;
}

.hero .cornerlogo {
  height: 100px;
}
}

@media (max-width:600px) {

  header .site-logo img {
  max-height: 30px;
  margin-top:30px;
  margin-right: 0;
}

 .hero #aboutpic {
  margin-left: -500px;
}

.logo {
  position: absolute;
  top: 20%;
  right: 40%;
  z-index: 100;
  max-height: 190px;
}

 div.nav.responsive ul {
    margin-top: 30px;
    margin-right: 20px;
    width: 100px;
  }

  .hero .herotext h1 {
  font-size: 24px;
  font-weight: bold;
}

.hero .logo {
  height: 100px;
}

.hero .cornerlogo {
  height: 100px;
  left: 90%;
}

.hero .herotext h2 {
  font-size: 18px;
  width: 300px;
  float: right;
  margin-top: -10px;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
  margin: 20px 10px 0;
  }

.container {
  margin-top: -200px;
}
}

@media (max-width:482px) {

  footer p {
  display: none;
  }

   .hero #aboutpic {
  margin-left: -600px;
}

footer ul li {
  display: inline-block;
  text-align: center;
  float: none;
  list-style-type: none;
  margin: 20px 10px 0;
  }

  .case-studies ul li img {
    height: 175px;
  }

.hero .logo {
  height: 100px;
}

  .about img {
    height: 300px;
  }

.cornerlogo {
  height: 100px;
  left: 130%;
}

  .about p {
    font-size: 16px;
  }

.container .quote {
  margin-top: -30px;
}
}

@media (max-width: 390px) {
  .hero .cornerlogo {
    left: 100%;
  }
}

@media (max-width: 360px) {
   div.nav.responsive ul {
    margin-top: 10px;
    margin-right: 20px;
    width: 100px;
  }

  .hero .cornerlogo {
  height: 100px;
  left: 110%;
}
}

@media (max-width:340px) {

header .site-logo img {
  max-height: 25px;
  margin-top:30px;
  margin-right: 0;
  margin-left: 5px;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
  margin: 20px 5px 0;
  }

footer ul li img {
  height: 25px;
}

.container .jumpto h1{
  font-size: 16px;
}

.container h2, h3, h4, h5, p{
  font-size: 16px;
}

.container p {
  font-size: 16px;
}

.container h3 {
  font-size: 16px;
}

.hero .cornerlogo {
  height: 100px;
  left: 115%;
}
}

@media screen and (orientation:landscape) {
    .hero .logo {
      margin-top: 40px;
    }

    .cornerlogo {
      margin-top: 40px;
      margin-left: 20px;
    }
}
