html, body {
  overflow-x: hidden;
}

/* 
  =====================================================
  Custom Styles
  =====================================================
*/

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #FFFFFF;
}

/* 
  =====================================================
  Buttons
  =====================================================
*/

.button {
  font-weight: 500;
  padding: 15px 30px;
  background: #1B6595;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

/* 
  =====================================================
  Header
  =====================================================
*/

.nav {
  background-color: #E9E9E9;
}

.nav {
  padding: 1em 0;
  height: 75px;
}

.pagetop .nav .site-logo {
  display: inline-block;
}
.pagetop .nav .site-logo img {
  max-height: 75px;
  padding-left: 10px;
  float: left;
}

#vismenu {
  display: inline;
  text-align: right;
  float: right;
  margin-top: -5px;
}

#vismenu li {
  list-style-type: none;
  display: inline-block;
}

.pagetop .nav ul li a {
  color: #6C7A88;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
}

 .pagetop .nav .btn {
  color: #6C7A88;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 50px;
  float: right;
  font-weight: 500;
  text-decoration: none;
 }

.nav #dropitnav .dropit-trigger {
  margin: -5px 10px;
 }

.nav ul li a:hover {
  color: #000000;
}

#dropitnav {
  display: none;
}

/* 
  =====================================================
  Hero
  =====================================================
*/

.hero {
  background-image: url("../images/homepagehero.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 570px;
  text-align: center;
  clear: both;
}

.hero .herotext {
  text-align: center;
  padding-top: 8%;
  display: flex;              /* establish flex container */
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center; 
}

.hero .herotext h1 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #515C67;
  font-size: 34px;
  font-weight: 300;
}

.hero .herotext h2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #515C67;
  font-size: 30;
  font-weight: 100;
}

/* 
  =====================================================
  Case Studies
  =====================================================
*/

.case-studies {
  padding: 1em 10px 1em;
  margin-top: 40px;
}

.case-studies h3 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #6C7A88;
  font-weight: bold;
  margin-left: 75px;
}

.case-studies ul {
  display: flex;           
  flex-direction: row; 
  flex-wrap: wrap;    
  justify-content: center;
  align-items: center; 
  margin: 0;
}

.case-studies ul li {
  display: inline-block;
  list-style-type: none;
  margin: 7px 10px;
}

/* 
  =====================================================
  About
  =====================================================
*/

.about {
  max-width: 1000px;
  text-align: left;
  margin: -150px 20%;
}

.aboutheading {
  padding-bottom: 3px;
  border-bottom: 2px solid #6C7A88;
}

.about .aboutheading h1 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: #282F36;
  font-weight: 500;
}

.about p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #282F36;
  line-height: 40px;
  font-weight: 100;
}

.about img {
  height: 462px;
  display: block;
  margin: -40px auto;

}

/* 
  =====================================================
  Contact (own page)
  =====================================================
*/

.contactmessage {
  margin: -200px auto -100px;
  display: flex;              /* establish flex container */
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center;
}

.contactmessage h1 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 26px;
  color: #282F36;
  font-weight: 500;
  margin: 10px;
}

.contactmessage iframe {
  display: block;
  margin: auto;
}

/* 
  =====================================================
  Contact (on page)
  =====================================================
*/

.contact {
  display: flex;              /* establish flex container */
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center; 
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #56E2F4 100%);
  height: 290px;
  margin-top: 35px;
}

.contact h3 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #6C7A88;
  font-weight: 500px;
  text-align: center;
}

.contact h4 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #6C7A88;
  font-weight: 100;
  text-align: center;
  margin-top: -5px;
}

/* 
  =====================================================
  Case Studies (own page)
  =====================================================
*/

.logo {
  max-height: 160px;
  margin: 40px auto;
  clear: both;
}

.cornerlogo {
  max-height: 150px;
  margin: 40px auto;
  clear: both;
}

.container {
  max-width: 1000px;
  margin: 0 20% -50px;
}

.one-half {
  width: 46%;
  margin: 15px;
  display: inline-block;
}

.container .jumpto h1 {
 font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: #282F36;
  text-align: center;
  font-weight: 500;
}

.container .jumpto a {
  text-decoration: none;
  color: #282F36;
}

.container .jumpto a:hover {
  color: #6BC2A4;
}

.container h2 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 22px;
  color: #282F37;
  padding-bottom: 3px;
  border-bottom: 2px solid #6C7A88;
}

.container p {
font-family: "Open Sans", Helvetica, Arial, sans-serif;
font-size: 20px;
color: #282F36;
line-height: 40px;
font-weight: 100;
margin-bottom: 40px;
margin-top: 20px;
}

.container p a {
  color: #282F36;
}

.container p a:hover {
  color: #6BC2A4;
}

.container h3 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #6C7A88;
  font-weight: 500;
  border-bottom: 2px solid #0FBCDE;
}

.container hr {
  border-color: #6BC2A4;
}

.container .graph {
  vertical-align: 150px; 
}

.container .va {
  vertical-align: 275px;
}

.container .multimages {
  display: flex;           
  flex-direction: row; 
  flex-wrap: wrap;    
  justify-content: center;
  align-items: center;
}

.container .multimages img {
  margin: 20px;
  margin-bottom: 40px;
}

.container h4 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 44px;
  color: #282F36;
  display: inline;
  padding-top: 10px;
  text-align: center;
  font-weight: 500;
}

.container h5 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #6C7A88;
  display: inline;
  font-weight: 500;
  margin-top: -30px;
}

.container .quote {
  text-align: center;
  vertical-align: top;
  margin-top: 300px;
}

.buttonwrap {
  text-align: center;
}

.container .small {
  width: 80%;
  display: inline-block;
}

.container .smallest {
  width: 30%;
}

.container .smaller {
  width: 46%;
}

/* 
  =====================================================
  Footer
  =====================================================
*/

footer {
  background-color: #6C7A88;
  height: 75px;
}

footer p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 22px;
  float: left;
  margin-top: 25px;
  color: #FFFFFF;
  margin-left: 20px;
}

footer ul {
  display: inline;
  text-align: right;
  margin: 0 20px;
  float: right;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
  margin: 15px 20px 0;
}

footer ul li img {
  height: 45px;
  display: flex; 
}


/* 
  =====================================================
  Media Queries
  =====================================================
*/

@media (max-width:1000px) {
  .case-studies ul {
  display: flex;           
  flex-direction: row; 
  flex-wrap: wrap;    
  justify-content: center;
  align-items: center; 
}

.pagetop .nav ul li a {
  font-size: 20px;
}

}

@media (max-width:2000px) {

.nav.site-logo img {
  max-height: 60px;
  margin-top: 20px;
  margin-right: 0;
  margin-left: 5px;
  display: inline-block;
}

.pagetop .nav ul li {
  margin: 25px 15px;
}

.pagetop .nav ul li a {
  font-size: 18px;
}

.one-half {
  width: 90%;
}

.container .quote {
  margin-top: 0;
}
}

@media (max-width:925px) {

  .container .va {
    vertical-align: top;
  }
}


@media (max-width:688px) {
  footer p {
    font-size: 16px;
  }

  footer ul li img {
  height: 30px;
}

}

@media (max-width:600px) {

 #vismenu {
  display: none;
 }

 #dropitnav {
  display: block;
 }

.pagetop .nav ul li {
  margin: 5px 0;
}

 .hero {
  background-position: center top;
  background-size: 200%;
 }

  .hero .herotext h1 {
  font-size: 24px;
  font-weight: 500;
}

.hero .herotext h2 {
  font-size: 18px;
  width: 300px;
  margin-top: -10px;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
  margin: 20px 10px 0;
  }

}

@media (max-width:482px) {

  footer p {
  display: none;
  }

footer ul li {
  display: inline-block;
  text-align: center;
  float: none;
  list-style-type: none;
  margin: 20px 10px 0;
  }

  .case-studies ul li img {
    height: 175px;
  }

  .about img {
    height: 300px;
  }

  .about p {
    font-size: 16px;
  }

.container .quote {
  margin-top: -30px;
}

.cornerlogo {
  max-height: 100px;
}
}

@media (min-width: 320px) and (max-width: 550px) and (max-height: 550px) 
{

  .container {
  margin-left: 10%;
  margin-right: 10%;
}
.about {
  margin-left: 10%;
  margin-right: 10%;
}

}

@media (min-width: 330px) and (max-width: 550px) and (min-height: 551px) 
{

  .container {
  margin-left: 10%;
  margin-right: 10%;
}

.about {
  margin-left: 10%;
  margin-right: 10%;
}
}

@media (min-width: 320px) and (max-width: 550px) and (min-height: 680px) 
{

  .container {
  margin-left: 10%;
  margin-right: 10%;
}

.about {
  margin-left: 10%;
  margin-right: 10%;
}
}

@media (max-width: 400px) {

footer ul li {
  display: inline-block;
  list-style-type: none;
  margin: 20px 5px 0;
  }

footer ul li img {
  height: 25px;
}

.container .jumpto h1{
  font-size: 16px;
}

.container h2, h3, h4, h5, p{
  font-size: 16px;
}

.container p {
  font-size: 16px;
}

.container h3 {
  font-size: 16px;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}
}

